.bg-success{
  padding: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background-image: url('https://i.imgur.com/yGmrlyg.jpg');
  background-size: cover;
  font-size:x-large;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
}
.row {
  color: #e2f153;
  font-size:xx-large;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight:bolder;
}

.container{
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.container > p {
  color: #1d1d1a;
  font-size:x-large;
  font-weight: 300;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.05em;
}

.content-footer > p {
    color: #222d30;
    font-size:medium;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.content-footer {
  margin: 50px 0;
  padding: 20px 0;
  text-align: center;
  background-color: #6faece;
  text-decoration: none;
}

